/* body {
  background-color: rgb(60, 129, 225);
} */

.white {
  color: white;
}

.NavBar {
  margin-top: auto;
  margin-bottom: auto;
  padding-inline: 5%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info1 {
  color: black;
  font-size: x-large;
  font-family: "Trirong", serif;
  font-weight: 400;
}

.info2 {
  color: rgb(87, 87, 87);
  font-size: large;
  font-family: "Trirong", serif;
  font-weight: 400;
}

.imgcard {
  height: 40%;
}
