/* body {
  background-color: rgb(60, 129, 225);
} */

.white {
  color: white;
}

.NavBar {
  margin-top: auto;
  margin-bottom: auto;
  padding-inline: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navnow {
  text-decoration: none;
  color: rgb(96, 210, 245);
  font-size: xx-large;
  font-family: "Staatliches", cursive;
  font-weight: 400;
}

.navnot {
  text-decoration: none;
  color: rgb(212, 212, 212);
  font-size: x-large;
  font-family: "Staatliches", cursive;
  font-weight: 400;
}

.infohead {
  color: rgb(28, 172, 224);
  font-size: xx-large;
  font-family: "Staatliches", cursive;
  font-weight: 400;
}

.info1 {
  color: black;
  font-size: x-large;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.info2 {
  color: rgb(87, 87, 87);
  font-size: large;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.info3 {
  color: rgb(61, 61, 61);
  font-size: larger;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
}

.info4 {
  color: rgb(117, 117, 117);
  font-size: large;
  font-family: "Prompt", sans-serif;
  font-weight: 300;
}

.imgcard {
  height: 125px;
  min-width: 27%;
  width: 27%;
}
